@use './scss/' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body{
  font-family: $font-family;
  font-weight: 400;
  background-color: $bg-color;
  color: $txt-color;
}
