@use '../../scss/' as *;

.signout-wrapper{
  @include flex(center, center);
  text-align: center;
  height: 90vh;
  h1{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }
  button{
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: $primary-color;
    color: #f9f9f9;
    font-size: 1rem;
    font-weight: 600;
  }
}