@use '../../scss/' as *;

.article-form{
  height: 100vh;
  width: 100%;
  display: grid;
  padding: 0 8rem;
  @include tablet{
    padding: 0 2rem;
  }
  @include mobile {
    padding: 0 1rem;
  }

  &__top{
    padding: 24px 64px;
    background-color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #ced4da;
    @include tablet{
      padding: 12px 32px;
    }
    .add-cover{
      cursor: pointer;
      padding: 8px 14px;
      color: #3d3d3d;
      border: #d6d6d7 solid 2px;
      border-radius: 5px;
      font-size: 1rem;
      // display: block;
      // margin-right: auto;
    }
    .file-form{
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }
    input[type="text"]#title-input{
      border: none;
      outline: none;
      width: 100%;
      height: 8rem;
      font-size: 3rem;
      font-weight: 700;
      @include tablet {
          font-size: 4rem;
        }
      @include mobile {
          font-size: 2.5rem;
        }
    }
  }

  &__actions{
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    gap: 1rem;
    .submit-btn{
      display: block;
      // margin: 2rem auto;
      padding: 8px 16px;
      background-color: $primary-color;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      color: white;
      font-weight: 600;
    }

    .options-btn{
      padding: 0.5rem;
      border-radius: 5px;
      font-weight: 700;
      border: none;
      background-color: transparent;
      position: relative;
      &:hover{
        background-color: rgba($color: $primary-color, $alpha: 0.2)
      }
    }
  }
}

.create-nav {
  height: 48px;
  font-family: $font-family;
  padding: 0 4rem;
  margin-bottom: 0.5rem;
  @include flex(space-between, center);
  @include tablet {
    padding: 0 2rem;
  }
  &__left{
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .close{
    display: inline-block;
    padding: 8px 9px;
    border-radius: 5px;
    color: black;
    &:hover{
      background-color: rgba($color: $primary-color, $alpha: 0.2);
      color: $primary-color;
    }
    @include mobile{
      display: none;
    }
  }

}


//editor
.EasyMDEContainer{
  width: 100% !important;
}

.CodeMirror.cm-s-easymde.CodeMirror-wrap{
  height: 45vh;
  font-size: 18px;
}

.editor-statusbar{
  display: none;
}

.editor-toolbar{
  background-color: #f9f9f9;
  border-radius: 0;
  border-top: none !important;
}
.side-by-side, .fullscreen{
  display: none !important;
}