@use '../../../scss/' as *;

#left-navigation{
  display: none;
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.sidebar-popup {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5 );

  .popup-nav {
    width: 280px;
      height: 100%;
      overflow-y: scroll;
      background-color: white;
    &__header {
      
      @include flex(space-between, center);
      min-height: 56px;
      padding: 0 0.5rem 0 1rem;

      h2 {
        word-break: break-word;
      }

      .close {
        background-color: transparent;
        border: none;
        padding: 0.5rem;
        &:hover{
          background-color: rgba($color: $primary-color, $alpha: 0.1);
          color: $primary-color;
          border-radius: 5px;
        }
      }

      // &__body{
      //   width: 300px;
      //   background-color: white;
      // }
    }
  }
}