@use "../../scss/" as *;

.footer{
  width: 100%;
  height: 230px;
  background-color: #e5e5e5;
  padding: 3rem;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  @include moblie{
    padding: 0.25rem;
  }

  .footer-container{
    width: 100%;
    height: 100%;
    padding: 0.35rem 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    ul {
      @include flex(center, center);
      list-style: none;
      flex-wrap: wrap;
      gap: 10px;
      padding: 0 2rem;
      @include moblie{
        gap: 0;
        padding: 0 0rem
      }
      li{
        display: flex;
        align-items: center;
        gap: 5px;
      }
      a {
        text-decoration: none;
      }
    }
  }
}