@use '../../scss/' as *;

.tag-page-layout{
  height: 100%;
  width: 50%;
  margin-bottom: 1.5rem;
  @include mobile {
    width: 90%;
  }
  @include tablet{
    width: 75%;
  }
  @include small-moblie{
    width: 100%;
  }
}

tag-page{
  margin: 0 auto;
  width: 100%;

  & > div{
    width: 100% !important;
  }
}