@use '../../scss/' as *;

.search-page-layout {
  height: 100%;
  min-height: 400px;
  min-width: 50%;
  margin-bottom: 1.5rem;

  @include mobile {
    width: 90%;
  }

  @include tablet {
    width: 75%;
  }

  @include small-moblie {
    width: 100%;
  }
}

.search-page {
  margin: 0 auto;
  width: 100%;

  &>div {
    width: 100% !important;
  }

}

.search-page__heading {
  display: inline-block;
  margin: 2rem 1rem !important;

  @include small-moblie {
    font-size: 20px;
  }
}