@use '../../scss/' as *;

.follow-btn {
  font-weight: 600;
  padding: 8px 16px;
  background-color: $primary-color;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.following-btn {
  font-weight: 600;
  padding: 8px 16px;
  background-color: transparent;
  color: $txt-color;
  border-radius: 5px;
  border: 2px solid #d6d6d7;
  font-size: 16px;
}