$primary-color: #3b49df;
$hover-darker-color: #2f3ab2;
$hover-tighter-color: rgba(59, 73, 223, 0.1);
$txt-color: #171717;
$bg-color: #f5f5f5;
$border-color: #dddddd;

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol'
